* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #444;
  padding: 0 5rem;
  height: 6rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 6.5rem;
  margin-bottom: 1 rem;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav--shop {
  flex: 0 1 50%;
}

.nav__el {
  color: #f7f7f7;
  text-transform: uppercase;
  margin-right: 2rem;
  font-size: 1.0rem;
  text-decoration: none;
  align-items: center;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}
.nav__el:hover,
.nav__el:active {
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
}

.nav__el:focus {
  outline: none;
}
.nav__el--cta {
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
}
.nav__el--cta:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #f7f7f7;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.top {
  height: 80vh;
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.form_overview {
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

.form_shop {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

.form_poi {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

.form_favourite {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

.form_signup {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

form.login {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

form.form_login {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
}

.input_container {
  font-size: 15px;
  padding: 13px 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  transition: border 0.3s;
  outline: none;
}

.input_button{
  margin-top: 15px;
  text-align: center;
}

.submit_button {
  color: #555;
  text-transform: uppercase;
  font-size: 1.0rem;
  text-decoration: none;
  align-items: center;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
}

.submit_button:hover {
  background-color: #f7f7f7;
  color: #777;
  text-shadow: none;
  border-color: #585454;
}

.footer {
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between;
}
.footer__logo {
  grid-row: 1 / 3;
  align-self: center;
}
  
.footer__logo img {
  height: 8rem;
}
.footer__nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.footer__nav li {
  margin-left: 1.5rem;
}
.footer__nav a {
  color: #777;
  text-decoration: none !important;
}
.footer__nav a:hover,
.footer__nav a:active {
  color: #55c57a;
}
.footer__copyright {
  justify-self: end;
  color: #999;
}  